.score__row {
    border-radius: 10px;
    color: #fff;
    font-size: 12px;
    line-height: normal;
    margin: 2px 0;
    position: relative;

	background-color: transparent;
	display: flex;
	min-height: auto;
}

.score__top {
	padding: 10px 20px;
	align-items: center;
	background-color: hsl(var(--hsl-b2));
    border-radius: 10px;
    display: flex;
    min-width: 0;

	border-radius: 10px 0 0 10px;
	flex: 1;
	padding-bottom: 5px;
	padding-right: 0;
	padding-top: 5px;
}

.score__title {
	display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
}

.score__grade .grade__container {
	margin-right: 10px;
}

.score__md {
	align-self: flex-start;
    color: #fff;
    display: block;
    font-size: 14px;
    max-width: 100%;
}

.score__mb {
	display: flex;
    gap: 15px;
    margin-top: 2px;
    white-space: nowrap;
}

.score__mb b {
	color: #ea0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-weight: normal;

}

.score__mb span {
	color: hsl(var(--hsl-f1));
    flex: none;
}

.score__acc {
	margin-left: 10px;
	font-size: 14px;
    font-weight: 600;
	color: #fc2;
    display: inline-block;
    min-width: 60px;
}

.score__bottom {
	position: relative;
	display: flex;
	padding: 0;
}

.score__pp-flow {
	display: contents;
}

.score__pp-container {
    align-content: flex-end;
    color: hsl(var(--hsl-h1));
    font-size: 16px;
    font-weight: 700;

	align-items: center;
	background: hsl(var(--hsl-b3));
	border-radius: 0 10px 10px 0;
	bottom: auto;
	display: inline-flex;
	flex: none;
	justify-content: center;
	min-width: 110px;
	padding: 5px 20px 5px 30px;
	position: relative;
	right: auto;
}

.score__pp-container::before {
	background-color: hsl(var(--hsl-b2));
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 10px;
}

.score__pp {

	align-items: center;
	background: hsl(var(--hsl-b3));
	border-radius: 0 10px 10px 0;
	bottom: auto;
	display: inline-flex;
	flex: none;
	justify-content: center;
	min-width: 110px;
	padding: 5px 20px 5px 30px;
	position: relative;
	right: auto;
}

.score__pp_unit {
	color: hsl(var(--hsl-l3));
    font-size: 12px;
}